# vuepress
gb-pages/
assets/
docs/.vuepress/dist/
/.fastRequest/

# vscode
.vscode/

# idea
.idea/

# npm
package-lock.json
node_modules
node_modules/

# yarn
yarn.lock
yarn-error.log

# mac
*.DS_Store