<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
          name="viewport"/>
    <meta content="Shadowrocket, 小火箭, iOS, 免费苹果账号, 美区, apple id, 使用教程, shadowsocks, V2Ray, Trojan, VPN"
          name="keywords"/>
    <meta content="Shadowrocket(小火箭)在线安装, 提供免费的苹果账号用于安装Shadowrocket" name="description"/>
    <title>Shadowrocket 账号</title>
    <link href="https://is4-ssl.mzstatic.com/image/thumb/Purple126/v4/c5/50/ad/c550ad28-d7bb-209c-05a6-849296bfddc5/AppIcon-0-1x_U007emarketing-0-10-0-0-85-220.png/230x0w.webp"
          rel="shortcut icon"/>
    <link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdn.staticfile.org/flag-icons/6.6.6/css/flag-icons.min.css" rel="stylesheet"/>
    <style>
        a {
            text-decoration: unset;
        }

        .border-success {
            border-color: #6fd088 !important;
        }

        :root {
            --bs-success-rgb: 111, 208, 136;
        }
    </style>
</head>

<body class="text-center container-fluid py-5 m-auto">
<main>
    <img alt="" class="shadow mb-4 bg-body-tertiary rounded-circle" height="80" width="80"
         src="https://is4-ssl.mzstatic.com/image/thumb/Purple126/v4/c5/50/ad/c550ad28-d7bb-209c-05a6-849296bfddc5/AppIcon-0-1x_U007emarketing-0-10-0-0-85-220.png/230x0w.webp"/>
    <h2 class="mb-3 fw-normal">Shadowrocket</h2>
    <div class="mx-1 row justify-content-center">
        <ol class="col-auto text-start">
            <li> 打开 iPhone/iPad 的 <strong> AppStore </strong> 软件（请不要打开设置）</li>
            <li> 右上角点击 <strong> 个人头像 </strong> 进入账户，下拉到最底找到并点击 <strong> 退出登录 </strong> </li>
            <li> <strong> 复制 </strong> 本网站 共享账号和密码 </li>
            <li> 点击登录，提示 <strong> Apple id 安全 </strong>，请点击 <strong> 其他选项-不升级 </strong>
            </li>
            <li>
                搜索
                <a class="btn btn-primary btn-sm" href="https://apps.apple.com/us/app/shadowrocket/id932747118" target="_blank">
                    Shadowrocket
                </a>
                下载，或者其他你想下载的软件
            </li>
            <li> 用完务必 <strong> 退出登录 </strong>，避免你的手机被锁 </li>
        </ol>
    </div>
    <div class="row text-start justify-content-center" style="margin: auto 5%;" id="apple">
        <div class="col-auto my-5" id="loading">
			<i aria-hidden="true" class="spinner-border me-5"></i> 加载最新账号信息
        </div>
    </div>
</main>
<textarea id="copy" readonly="readonly" style="display: none"></textarea>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/bootstrap/5.1.3/js/bootstrap.min.js"
        type="application/javascript"></script>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js"
        type="application/javascript"></script>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/sweetalert/2.1.2/sweetalert.min.js"
        type="application/javascript"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JWCME7N22C"></script>
<script charset="utf-8" type="text/javascript">
    const arr = [
        "https://apple.laogoubi.net/s/c7d1e73290a646f2513f6f0b75843b0b",
        "https://apple.laogoubi.net/p/4d8d4f47edad7f4301cdfe646c378e92",
        "https://apple.laogoubi.net/p/89639fa348a9b1a2836e81b369b0bb92",
        "https://apple.laogoubi.net/p/4e66836f2b10b15285a141a226a78bce",
        "https://apple.laogoubi.net/p/85b1d95fbdcc719c87f0f694d0be11b4",
        "https://apple.laogoubi.net/p/39244056192a2ff726befdc13830e8c0",
        "https://apple.laogoubi.net/p/efceab47c1632aaf4f4244582abdd0a9",
        "https://apple.laogoubi.net/p/c5c848fc95220e4d03084bb2d93c35ca",
        "https://abc.laogou.cx/s/6840ac7e0db0f51be24d60f15a7e997b",
        "https://bgom9y.laogou.cx/s/f62ae5260627e7109cced6befb93fdcf",
        "https://x47yks.laogou.cx/s/d6363ad9638c6b837389cedfec1a522b",
        "https://wr4ug8.laogou.cx/s/46ecb6e4c33b19695aab14986613ed7a",
        "https://ts8ltz.laogou.cx/p/a4ea3740ed9d68750f710120ebf88119",
        "https://18jquq.laogou.cx/p/ec96119ed79bf949f1f3a0503a8216d7",
        "https://ad5vle.laogou.cx/p/1a38c3c15c761500c09eff2e7e447dc3",
        "https://c12rav.laogou.cx/p/21fcf9e43bf664bba0ffcfb40c26a877",
        "https://c12rav.laogou.cx/p/b31027f76821d8e18dadb6c8bc2c4090",
        "https://apple.laogou.cx/p/cd998bda330fbb0ebf721280d003a455",
        "https://ckgpn6.laogou.cx/p/925a955671312dc62e69a97701748f58",
        "https://ogfpcj.laogou.cx/p/c603733110aa9e63118ed82784c6e605",
        "https://apuwcb.laogou.cx/p/b5b25de894980a2739bf7a45d74226d4",
        "https://1q64se.laogou.cx/p/f02899a7fa9b493b1245d86378677fb2",
        "https://z7m94r.laogou.cx/p/cc8a616f7cc896b157e4b830374bcf05",
        "https://qg78kk.laogou.cx/p/81b05618a1beae8903d4baf532794f83",
        "https://5ztnwb.laogou.cx/p/29024e1e50d5a044df8da440b8f3c2e3",
        "https://3dpkec.laogou.cx/p/3634d9af7fdf83ec0f0b1c7a6c160d21",
        "https://i25w6e.laogou.cx/p/6239650944ae72ea10065879215d0ed9",
        "https://jpdd7g.laogou.cx/p/0b17f2ecdcbb2aaf2214e6c4733be2a7",
        "https://whetvc.laogou.cx/p/12831ec7938af5ad3d8b7dd8495ebaba",
        "https://n28b4c.laogou.cx/p/0906315498624c5a6b1718b21b8a81fc",
        "https://nqesos.laogou.cx/p/af787292282824784a7524aed9c5dd07",
        "https://pbf3pa.laogou.cx/p/a2b451980c1c383c27ddaab03beae745",
        "https://123li4.laogou.cx/p/cd228510428d8b1446861ddd331f404a",
        "https://vnrni8.laogou.cx/p/488990939cfe6ef6ed0f0069cd503f7b",
        "https://6ms7yi.laogou.cx/p/9140c20e5ca4f8ce2a0c53b710e9948d",
        "https://5zjo6s.laogou.cx/p/15893a0aca2b391eb0be08153e538450",
        "https://djvy5w.laogou.cx/p/337f8be03880887cf1063f9c5de587bf",
        "https://ne2aom.laogou.cx/p/6a41bb6517d0543ad800f1370fa7cbcb",
        "https://q8gejj.laogou.cx/p/09e196f6c9e71c156e0ee937abd1f75a",
        "https://tmleao.laogou.cx/p/c9a35e3a2ce6f1bc52c21674034e0c83",
        "https://4ohd1i.laogou.cx/p/d4cb57c3e059a3211a118f1599d3e8c1"
    ];

    function copy(str) {
        $("#copy").text(str).show();
        const ele = document.getElementById("copy");
        ele.select();
        document.execCommand("copy", false, null);
        $("#copy").hide();
        swal({
            title: "复制成功",
            icon: "success",
            timer: 1000,
            buttons: false,
        });
    }

    function minsDiff(time) {
        return parseInt((new Date() - new Date(time)) / 60000);
    }

    function load(field) {
        if (field["status"] === 1) {
            //var status = ['primary', 'success', 'danger', 'warning'];
            //var ico = ['robot', 'check2-all', 'slash-circle', 'exclamation-triangle'];
            //var title = ['检测中', '状态正常', '状态异常', '等待检测'];
            const country = {
                美国: "us",
                澳大利亚: "au",
                中国大陆: "cn",
                台湾: "tw",
                香港: "hk",
                韩国: "kr",
                日本: "jp",
                印度尼西亚: "id",
                null: "un"
            };
            let html =
                `<div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="card border-success mb-3">
                        <div class="card-header bg-transparent border-bottom-0 border-success">
                            <h5 class="my-0 text-success">
                                <i class="me-3 bi bi-check2-all" ></i>
                                <span> {{username}} </span>
                                <span class="float-end"><i class="fi fi-{{country_code}} fis rounded-circle"></i> {{country}}</span>
                            </h5>
                        </div>
                        <div class="card-body">
                          <p class="card-text">检测时间：{{time}}</p>
                          <button class="btn btn-outline-secondary waves-effect" onclick="copy('{{username}}')">复制帐号</button>
                          <button class="btn btn-outline-secondary waves-effect" onclick="copy('{{password}}')">复制密码</button>
                        </div>
                    </div>
                </div>`;
            html = html.replace(/{{time}}/g, field["time"] + " <code class='float-end'>" + minsDiff(field["time"]) + "分钟前</code>");
            html = html.replace(/{{country}}/g, field["country"] ?? "");
            html = html.replace(/{{country_code}}/g, field["country"] ? country[field["country"]] : "");
            html = html.replace(/{{username}}/g, field["username"]);
            html = html.replace(/{{password}}/g, field["password"]);
            $("#apple").prepend(html);
        }
    }

    $(document).ready(function () {
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-JWCME7N22C');

        arr.forEach((url) => {
            $.getJSON(url)
                .done(function (data) {
                    $.each(data, function (i, item) {
                        load(item);
                    });
                })
                .fail(function () {
                    console.log(url);
                });
        });

        setTimeout(function () {
            document.getElementById("loading").remove();
        }, 3000);
    });
</script>
</body>

</html>